<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/style.css">

    <title>Wecode</title>
</head>

<body>
    <header>
        <div class="header">

            <nav class="lateral-menu">

                <div>
                    <div class="accordion" id="accordionExample">
                        <!-- close menu -->
                        <div class="card">
                            <div class="card-header card-lateral-menu" id="headingZero">
                                <h2 class="mb-0">
                                    <button id="btn-close-menu" class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseZero" aria-expanded="true"
                                        aria-controls="collapseZero">
                                        X
                                    </button>
                                </h2>
                            </div>
                        </div>
                        <!-- User -->
                        <div class="card-user">
                            <div class="avatar"> </div>
                            <div class="name-user">
                                <p class="user">Olá,</p>
                                <p class="name-user">Usuário</p>
                            </div>
                        </div>
                        <!-- departamento 1 -->
                        <div class="card">
                            <div class="card-header card-lateral-menu" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Departamento 1
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 1
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 2
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 3
                                </div>
                            </div>

                        </div>
                        <!-- categoria 2 -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Departamento 2
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 1
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 2
                                </div>
                            </div>
                        </div>
                        <!-- Departamento 3 -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Departamento 3
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 1
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 2
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 3
                                </div>
                            </div>
                        </div>
                        <!-- Departamento 4 -->
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Departamento 4
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 1
                                </div>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 2
                                </div>
                            </div>
                        </div>
                        <!-- Departamento 5 -->
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        Departamento 5
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 1
                                </div>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Categoria 2
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </nav>

            <div id="openMenu" class="menu">
                <img class="menu" src="/public/img/svg/icon-header-menu.svg" alt="">
            </div>

            <div class="logo-header"><img class="logo-header" src="/public/img/svg/logo-header-wecode.svg"
                    alt="logo Wecode"></div>

            <div class="icons">
                <img src="/public/img/svg/icon-header-search.svg" alt="search icon">
                <img src="/public/img/svg/icon-header-carrinho.svg" alt="shopping cart icon">
            </div>

        </div>
    </header>

    <div class="carousel-initial">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/public/img/banners/Banner-home-principal-1.png" class="d-block w-100" alt="banner image">
                </div>
                <div class="carousel-item">
                    <img src="/public/img/banners/Banner-home-principal-2.png" class="d-block w-100" alt="banner image">
                </div>
                <div class="carousel-item">
                    <img src="/public/img/banners/Banner-home-principal-3.png" class="d-block w-100" alt="banner image">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>

    <section class="content">
        <div class="departments">
            <div class="department">
                <img class="departments" src="/public/img/banners/Banner-home-departamento-1.png"
                    alt="department image">
                <a class="departments" href="#">Departamento 1</a>
            </div>
            <div class="department">
                <img class="departments" src="/public/img/banners/Banner-home-departamento-2.png"
                    alt="department image">
                <a class="departments" href="#">Departamento 2</a>
            </div>
            <div class="department">
                <img class="departments" src="/public/img/banners/Banner-home-departamento-3.png"
                    alt="department image">
                <a class="departments" href="#">Departamento 3</a>
            </div>
            <div class="department">
                <img class="departments" src="/public/img/banners/Banner-home-departamento-4.png"
                    alt="department image">
                <a class="departments" href="#">Departamento 4</a>
            </div>
            <div class="department">
                <img class="departments" src="/public/img/banners/Banner-home-departamento-5.png"
                    alt="department image">
                <a class="departments" href="#">Departamento 5</a>
            </div>
            <div class="department">
                <img class="departments" src="/public/img/banners/Banner-home-departamento-6.png"
                    alt="department image">
                <a class="departments" href="#">Departamento 6</a>
            </div>
        </div>

        <div class="container-products">
            <h3 class="products">Produtos mais vendidos</h2>

                <div class="gallery-box">
                    <div class="gallery">
                        <div class="card">
                            <img src="/public/img/images/Imagem-home-produto-1.png" alt="product image" class="item">
                            <p class="product-description1">Copo Mocaccino</p>
                            <p class="price-product">R$ 12</p>

                            <p class="product-description2">Médio - 550ml</p>
                            <p class="discount-price">R$ 9,50</p>

                            <p class="lauch">Lançamento</p>
                            <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="product image"
                                class="cart">
                        </div>

                        <div class="card">
                            <img src="/public/img/images/Imagem-home-produto-2.png" alt="product image" class="item">
                            <p class="product-description1">Copo Mocaccino</p>
                            <p class="price-product">R$ 9</p>

                            <p class="product-description2">Pequeno - 350ml</p>
                            <p class="discount-price">R$ 7,50</p>

                            <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="product image"
                                class="cart">

                        </div>

                        <div class="card">
                            <img src="/public/img/images/Imagem-home-produto-3.png" alt="product image" class="item">
                            <p class="product-description1">Copo Mocaccino</p>
                            <p class="price-product">R$ 16</p>

                            <p class="product-description2">Grande - 750ml</p>
                            <p class="discount-price">R$ 12,50</p>

                            <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="shopping cart"
                                class="cart">
                        </div>


                    </div>
                </div>
        </div>

        <section class="banners">
            <div class="banner">
                <img class="banner" src="/public/img/banners/Banner-home-corpo-1.png" alt="banner">
                <a class="banner" href="#">Saiba mais!</a>
            </div>
            <div class="banner">
                <img class="banner" src="/public/img/banners/Banner-home-corpo-2.png" alt="banner">
                <a class="banner" href="#">Aproveite agora!</a>
            </div>

        </section>

        <div class="container-products">
            <h3 class="products">Selecionados por nós</h3>

            <div class="gallery-box">
                <div class="gallery">
                    <div class="card">
                        <img src="/public/img/images/Imagem-home-produto-1.png" alt="product image" class="item">
                        <p class="product-description1">Copo Mocaccino</p>
                        <p class="price-product">R$ 12</p>

                        <p class="product-description2">Médio - 550ml</p>
                        <p class="discount-price">R$ 9,50</p>

                        <p class="lauch">Lançamento</p>
                        <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="shopping cart"
                            class="cart">
                    </div>

                    <div class="card">
                        <img src="/public/img/images/Imagem-home-produto-2.png" alt="product image" class="item">
                        <p class="product-description1">Copo Mocaccino</p>
                        <p class="price-product">R$ 9</p>

                        <p class="product-description2">Pequeno - 350ml</p>
                        <p class="discount-price">R$ 7,50</p>

                        <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="shopping cart"
                            class="cart">
                    </div>

                    <div class="card">
                        <img src="/public/img/images/Imagem-home-produto-3.png" alt="product image" class="item">
                        <p class="product-description1">Copo Mocaccino</p>
                        <p class="price-product">R$ 16</p>

                        <p class="product-description2">Grande - 750ml</p>
                        <p class="discount-price">R$ 12,50</p>

                        <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="shopping cart"
                            class="cart">
                    </div>

                </div>
            </div>

        </div>

        <section class="banners">
            <div class="banner">
                <img class="banner" src="/public/img/banners/Banner-home-corpo-1.png" alt="banner">
                <a class="banner" href="#">Saiba mais!</a>
            </div>
        </section>

        <div class="container-products">
            <div class="carrousel-products">
                <h3 class="products">Exclusivo da loja online</h3>

                <div class="gallery-box">
                    <div class="gallery">
                        <div class="card">
                            <img src="/public/img/images/Imagem-home-produto-1.png" alt="product image" class="item">
                            <p class="product-description1">Copo Mocaccino</p>
                            <p class="price-product">R$ 12</p>

                            <p class="product-description2">Médio - 550ml</p>
                            <p class="discount-price">R$ 9,50</p>

                            <p class="lauch">Lançamento</p>
                            <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="shopping cart"
                                class="cart">
                        </div>

                        <div class="card">
                            <img src="/public/img/images/Imagem-home-produto-2.png" alt="" class="item">
                            <p class="product-description1">Copo Mocaccino</p>
                            <p class="price-product">R$ 9</p>

                            <p class="product-description2">Pequeno - 350ml</p>
                            <p class="discount-price">R$ 7,50</p>

                            <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="" class="cart">
                        </div>

                        <div class="card">
                            <img src="/public/img/images/Imagem-home-produto-3.png" alt="product image" class="item">
                            <p class="product-description1">Copo Mocaccino</p>
                            <p class="price-product">R$ 16</p>

                            <p class="product-description2">Grande - 750ml</p>
                            <p class="discount-price">R$ 12,50</p>

                            <img src="/public/img/svg/icon-home-carddeproduto-addtocart.svg" alt="shopping cart"
                                class="cart">
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="container-infos">
            <div class="carrousel-infos">
                <div class="box-infos">
                    <div class="information">

                        <div class="item-infos">
                            <img class="item-infos" src="/public/img/svg/icon-footer-card.svg" alt="credit card">
                            <p class="infos">Até 12x sem juros</p>
                        </div>

                        <div class="item-infos">
                            <img class="item-infos" src="/public/img/svg/icon-footer-locker.svg" alt="padlock image">
                            <p class="infos">Compra 100% segura</p>
                        </div>

                        <div class="item-infos">
                            <img class="item-infos" src="/public/img/svg/icon-footer-box.svg" alt="box image">
                            <p class="infos">Produtos de alta qualidade</p>
                        </div>

                        <div class="item-infos">
                            <img class="item-infos" src="/public/img/svg/icon-footer-pix.svg" alt="PIX symbol">
                            <p class="infos">5% de desconto no PIX</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>


    <footer>
        <div class="footer">

            <div class="newsletter">
                <img class="newsletter" src="/public/img/svg/logo-header-wecode.svg" alt="logo Wecode">
                <p class="title-newsletter">Newsletter</p>
                <p>Receba nossas novidades e ofertas através da nossa newsletter</p>
                <div class="email">
                    <input class="newsletter" type="email" placeholder="Digite seu e-mail">
                    <img class="email" src="/public/img/svg/icon-footer-mail.svg" alt="send email">
                </div>
            </div>

            <div class="social-media">
                <p class="social-media">Siga nossas redes sociais</p>
                <a class="social-media" href="https://www.instagram.com/" target="_blank"> <img class="social-media"
                        src="/public/img/svg/icon-footer-instagram.svg" alt="instagram"> </a>
                <a class="social-media" href="https://twitter.com/" target="_blank"> <img class="social-media"
                        src="/public/img/svg/icon-footer-twitter.svg" alt="twitter"> </a>
                <a class="social-media" href="https://pt-br.facebook.com" target="_blank"> <img class="social-media"
                        src="/public/img/svg/icon-footer-facebook.svg" alt="facebook"> </a>
            </div>

            <div class="final-menu">
                <div class="accordion" id="accordionExample">
                    <!-- card 1 -->
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                                    Sobre Nós
                                </button>
                            </h2>
                        </div>

                        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Quem somos nós
                            </div>
                        </div>
                        <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Nosso grupo
                            </div>
                        </div>
                    </div>
                    <!-- card 2 -->
                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                    aria-controls="collapseSeven">
                                    Minha Conta
                                </button>
                            </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Meu perfil
                            </div>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Meus pedidos
                            </div>
                        </div>
                    </div>
                    <!-- card 3 -->
                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseEight" aria-expanded="false"
                                    aria-controls="collapseEight">
                                    Políticas
                                </button>
                            </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Políticas de trocas e devolução
                            </div>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Políticas de Privacidade
                            </div>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Termos de uso
                            </div>
                        </div>
                    </div>
                    <!-- card 4 -->
                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseNine" aria-expanded="false"
                                    aria-controls="collapseNine">
                                    Contato
                                </button>
                            </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Tel.: (54) 3028-9452
                            </div>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Rua Plácido de Castro, 1063 - Sala 403 -Exposição, Caxias do Sul - RS, 95084-370.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="certificates">
                <p class="certificates">Certificados & Selos</p>
                <img src="/public/img/svg/icon-footer-selo.svg" alt="seals and certificates" class="certification">

            </div>

            <div class="copyright">
                <img class="copyright" src="/public/img/svg/icon-footer-logotype.svg" alt="logo Wecode">
                <p class="copyright">wecode.digital - e-commerce technology. Todos os direitos reservados. Rua Plácido
                    de castro, 1063 -
                    sala
                    403 - Exposição, Caxias do Sul - RS, 95084-370 Telefone: (54) 3028-9452</p>
            </div>

            <div class="vtex">
                <img class="vtex" src="/public/img/svg/icon-footer-vtexbywecode.svg" alt="image Vtex by Wecode">
            </div>

        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="/public/js/script.js"></script>

</body>

</html>